@import "styles/colors.scss";
@import "styles/breakpoints.scss";

select {
  border: 1px solid $grey-200;
  font-size: 0.9rem;
  min-height: 40px;
  outline: $blue;
  padding: 0.5rem;
  width: 100%;
  @media screen and (min-width: $screen-md) {
    width: auto;
  }
  &:active,
  &:focus,
  :visited {
    border-color: $blue;
  }
}

.select-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-md) {
    align-items: center;
    flex-direction: row;
  }
  h2 {
    color: $grey-400;
    font-size: 0.9rem;
    margin: 0 0 0.2rem 0;
    @media screen and (min-width: $screen-md) {
      font-size: 1rem;
      margin-right: 0.9rem;
    }
  }
}
