@import "styles/colors.scss";
@import "styles/breakpoints.scss";

#cards-container, .filters-container {
  background-color: $grey-100;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 11px;
}

#cards-container {
  height: 100%;
}

.filters-container {
  display: flex;
  gap: .5rem;
  justify-content: flex-end;
  padding: 0.75rem 11px 0.75rem 11px;
  width: 100%;
  @media screen and (min-width: $screen-md) {
    gap: 1.5rem;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  tr-select {
    width: 100%;
    @media screen and (min-width: $screen-md) {
      width: auto;
    }
  }
}
