@import "styles/colors.scss";
@import "styles/breakpoints.scss";

.card {
  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    width: 100%;
    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      height: 210px;
    }
  }
  &-image {
    height: auto;
    max-height: 250px;
    max-width: 100%;
    overflow: hidden;
    @media screen and (min-width: $screen-md) {
      background-color: $grey-400;
      max-height: none;
      width: 320px;
      ::slotted(img) {
        height: auto;
        object-fit: none;
        width: 100%;
      }
    }
    ::slotted(img) {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain
    }
  }
  &-content {
    background-color: white;
    padding: 0.5rem 0.75rem 1.4rem 0.75rem;
    @media screen and (min-width: $screen-md) {
      display: flex;
      flex: 2;
      gap: 1rem;
      padding: 1.2rem 0.75rem 1.4rem 1.1rem;
    }
  }
  &-description {
    display: flex;
    flex-direction: column;
    flex: 6;
    justify-content: space-between;
    &-title {
      font-size: 0.9rem;
      @media screen and (min-width: $screen-md) {
        font-size: 0.75rem;
      }
    }
    &-text {
      color: $grey-900;
      display: none;
      font-size: 0.8rem;
      font-style: italic;
      margin-top: 0.5rem;
      max-width: 100%;
      ::slotted(*) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      margin-top: 15px;
      @media screen and (min-width: $screen-md) {
        display: block;
        margin-top: 4px;
      }
    }
  }
  &-details {
    border-top: 1px solid $grey-100;
    margin-top: 1rem;
    padding-top: 1rem;
    @media screen and (min-width: $screen-md) {
      margin-top: 1.5rem;
    }
    &-item {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h3 {
        color: $grey-400;
        font-size: 0.8rem;
        flex: 1;
        margin: 0 0 0.5rem 0;
        @media screen and (min-width: $screen-md) {
          font-size: 0.7rem;
        }
      }
      &--operator {
        color: $grey-900;
        display: flex;
        font-size: 0.8rem;
        flex: 1;
        @media screen and (min-width: $screen-md) {
          font-size: 0.7rem;
        }
      }
      &--moreDestinations {
        color: $blue;
      }
    }
  }
  &-actions {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
    &-values {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 1rem;
      @media screen and (min-width: $screen-md) {
        margin-top: 0.5rem;
      }
      &--duration {
        color: $grey-400;
        flex: 1;
        font-size: 0.8rem;
        h3 {
          margin-bottom: 0;
          @media screen and (min-width: $screen-md) {
            margin-bottom: 0.2rem;
            margin-top: 0;
            font-size: 0.75rem;
          }
        }
        p,::slotted(*) {
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          @media screen and (min-width: $screen-md) {
            font-size: 1rem;
          }
        }
      }
      &--from {
        flex: 1;
        h3 {
          color: $grey-900;
          font-size: 1.1rem;
          font-weight: 400;
          margin-top: 0.75rem;
          margin-bottom: 0.3rem;
          @media screen and (min-width: $screen-md) {
            font-size: 1rem;
            margin-top: 0;
          }
        }
        p,::slotted(*) {
          color: $green;
          font-size: 2rem;
          font-weight: bold;
          @media screen and (min-width: $screen-md) {
            font-size: 1.7rem;
          }
        }
      }
    }
    &-dates {
      border-top: 1px solid $grey-100;
      display: flex;
      margin-bottom: 0.85rem;
      margin-top: 0.6rem;
      padding-top: 0.9rem;
      &--item {
        flex: 1;
        margin-left: 0.3rem;
      }
      &--date {
        color: $grey-400;
        font-size: 0.75rem;
        font-weight: bold;
        @media screen and (min-width: $screen-md) {
          font-size: 0.65rem;
        }
      }
      &--availability {
        ::slotted(*) {
          @media screen and (min-width: $screen-md) {
            font-size: 0.85rem;
          }
        }
      }
    }
    &-button {
      background-color: $yellow-700;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: bold;
      height: 35px;
      width: 100%;
    }
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-image {
  height: 245px;
  width: 100%;
  @media screen and (min-width: $screen-md) {
    height: 210px;
  }
}

.skeleton-body {
  width: 100%;
  height: 100%;
}

.skeleton-text {
  width: 100%;
  height: 1.5rem;
  border-radius: 2px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
